<% extend('layout')%>
<h3><%= subtitle %></h3>

<form action="addCategory" method="post">
    <label>Category</label>
    <input type="text" name="category">
    <input type="submit" name="Add">
</form>