<% extend('layout') %>
<h3><%= subtitle %></h3>

<a href="/addCategory">Add New Category</a>
<a href="/updateCategory">Update Category</a>
<a href="/uploadPic">Upload</a>
<!--<a href="/login">Login</a>-->
