<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%- title%></title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <%- content %>
<footer class='footer'>
    <div class=''>
        <!--<p class='text-center text-muted'><%= clockData.dateTime%></p>-->
    </div>
</footer>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src='/lib/bootstrap/dist/js/bootstrap.min.js'></script>
</body>
</html>